<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<div class="container mt-4">
		<div class="row">
			<div class="col-3">
        <a class="link-offset-2  link-underline-success" href="/member/mypage">
          <th:block th:replace= "~{member/mypage_menu :: menu}"></th:block>
      </div>
			
		
		<div class="col-9">
      <!-- 목록 -->
			<div class="text-center mb-3">
        <h3 class="mt-3 mb-4 text-center">위시 리스트</h3>    
      </div>
      <div class="table-responsive">
        <!-- <form id="wishForm" method="post" action="/wish/wish_sel_delete"> -->
        <form id="wishForm" method="post">
          <input type="hidden" name="pro_code_arr" id="pro_code_arr">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 5%;">
                  <input type="checkbox" id="checkAll">
                </th>
                <th scope="col" style="width: 25%; text-align: center;">상품이미지</th>
                <th scope="col" style="width: 20%; text-align: center;">상품명</th>
                <th scope="col" style="width: 10%; text-align: center;">상품가격</th>
                <th scope="col" style="width: 10%; text-align: center;">수량</th>
                <th scope="col" style="width: 30%; text-align: center;">비고</th>

              </tr>
            </thead>
            <tbody>
              <tr th:each= "item : ${wish_list}">
                <td>
                  <input type="checkbox" class="wish-check" name="check" th:value="${item['pro_code']}">
                </td>
                <td class="text-center">
                  <a th:href="|/order/pro_perinfo?pro_code=${item['pro_code']}|">
                  <img style="width: 100px;height: 100px;" th:src="${'/order/image_display?dateFolderName=' + item.pro_up_folder + '&fileName=s_' + item.pro_img}">
                  </a>
                </td>
                <td class="text-center" th:text="${item.pro_name}"></td>
                <td class="text-center" th:text="${#numbers.formatInteger(item['pro_price'], 3, 'COMMA') + '원'}"></td>
                <td> 
                  <input type="number" id="cart_amount" value="1" min="1" style="width: 60px;"> 
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-success" name="btn_cart_add" th:data-pro_code="${item.pro_code}">장바구니</button> <br>
                  <button type="button" class="btn btn-outline-success mt-2"  th:data-pro_code="${item.pro_code}" name="btn_buy_add">주문하기</button><br>
                  <button type="button" class="btn btn-outline-success mt-2" th:data-pro_code="${item.pro_code}" name="btn_wish_delete">삭제</button>
                </td>
              </tr>
            </tbody>        
          </table>
        </form>
        </div>

        <div class="row">
          <div>
            <button type="button" class="btn btn-outline-success" id="btn_sel_delete">선택삭제</button>
            <button type="button" class="btn btn-outline-success" id="btn_sel_cart_add">장바구니 담기</button>
            <button type="button" class="btn btn-outline-success" id="btn_sel_order_add" >주문하기</button>
          </div>
        </div>
      

       <!-- 페이징 및 검색 파라미터 정보 -->
					<form id="criteriaForm" action="/wish/wish_list" method="get">
						<!--페이징, 검색 파라미터-->
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}">
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}">
						
						<input type="hidden" name="pro_code" id="pro_code">
						
            </form>
    

          <div class="card-footer clearfix">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
              <!-- 이전표시여부 -->
              <th:block th:if="${pageMaker.prev}">
                <li class="page-item">
                  <a class="page-link" th:href="|/wish/wish_list${pageMaker.makeSearch(pageMaker.startPage - 1)}|">Previous</a>
                </li>
              </th:block>
                <!--  페이지번호 출력.  1  2  3  4  5 -->
                <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                <li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
                  <a class="page-link mt-5" th:href="|/wish/wish_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a>
                </li>        
                </th:block>
              
              <!--  다음표시여부 Next -->
              <th:block th:if="${pageMaker.next}">
                <li class="page-item">
                  <a class="page-link" th:href="|/wish/wish_list${pageMaker.makeSearch(pageMaker.endPage + 1)}|">Next</a>
                </li>
              </th:block>
              </ul>
            </nav>
          </div>
		</div>
	</div>	
</div>

<script th:inline="javascript">

  $(document).ready(function() {

    $("#checkAll").on("click", function() {
					$("input[name='check']").prop("checked", this.checked);
					isCheck = this.checked;					
				});

				$("input[name='check']").on("click", function() {
					$("#checkAll").prop("checked", this.checked);

					$("input[name='check']").each(function() {
						if(!$(this).is(":checked")) {
							$("#checkAll").prop("checked", false);
						}
					});
				});

    // 선택 삭제 버튼 이벤트
    $("button#btn_sel_delete").on("click", function() {
      if(!confirm("삭제하시겠습니까?")) return;

      let wishForm = $("#wishForm");
      $("#wishForm").attr("action", "/wish/wish_sel_delete");
      wishForm.submit();
    });

    // 선택 장바구니 버튼 이벤트
    $("#btn_sel_cart_add").on("click", function () {
        if (!confirm("선택한 상품을 장바구니에 추가하시겠습니까?")) return;

        let selectedProCodes = [];
        $(".wish-check:checked").each(function () {
            selectedProCodes.push($(this).val()); // 체크된 값 가져오기
        });


        if (selectedProCodes.length === 0) {
            alert("상품을 선택하세요");
            return;
        }

        // hidden input 생성 후 값 설정 (기존에 hidden input이 없다면 새로 추가)
        $("input[name='pro_code_arr']").remove();  // 기존의 hidden input 삭제
        selectedProCodes.forEach(function (code) {
            $("<input>")
                .attr("type", "hidden")
                .attr("name", "pro_code_arr")
                .val(code)
                .appendTo("#wishForm");
        });

        if (confirm("장바구니로 이동하시겠습니까?")) {
        $("#wishForm").attr("action", "/wish/wish_sel_cart_add").submit();
    } 
    });

   // 선택 주문하기 버튼 이벤트
   $("#btn_sel_order_add").on("click", function () {
    if (!confirm("선택한 상품을 주문하시겠습니까?")) return;

    let selectedProCodes = [];
    $(".wish-check:checked").each(function () {
        selectedProCodes.push($(this).val());
    });

    if (selectedProCodes.length === 0) {
        alert("상품을 선택하세요");
        return;
    }

    // 기존의 hidden input 삭제 후 새로 추가
    $("input[name='pro_code_arr']").remove();
    selectedProCodes.forEach(function (code) {
        $("<input>")
            .attr("type", "hidden")
            .attr("name", "pro_code_arr")
            .val(code)
            .appendTo("#wishForm"); // 폼에 추가
    });

    $("#wishForm").attr("action", "/wish/wish_sel_order_add").submit(); // 주문하기 폼 제출
});

    $("button#btn_sel_order_add").on("click", function() {
      if (!confirm("선택한 상품을 주문하시겠습니까?")) return;

      
          location.href = "/order/order_info?type=buy";
        });


    let criteriaForm = $("#criteriaForm");
    
    // 삭제 버튼 btn_wish_delete
    $("button[name='btn_wish_delete']").on("click", function() {
        if (!confirm("삭제하시겠습니까?")) return;

        let pro_code = $(this).data("pro_code"); 

        console.log("삭제 요청 pro_code:", pro_code); 

        $("#pro_code").val(pro_code);
        $("#criteriaForm").attr("action", "/wish/wish_delete");
        $("#criteriaForm").submit();
    });

    

    // 장바구니 클릭 btn_cart_add
    $("button[name='btn_cart_add']").on("click", function() {
        console.log("장바구니 클릭");

        let proCode = $(this).data("pro_code");
        let cart_amount = $("#cart_amount").val();

        $.ajax({
          url: '/cart/cart_add',
          type: 'post',
          data: {pro_code: proCode, cart_amount : cart_amount},
          dataType: 'text',
          success: function(result) {
            if(result == "success") {
              alert("장바구니에 추가되었습니다.");
              if(confirm("장바구니로 이동하시겠습니까?")) {
                location.href = "/cart/cart_list";
              }
            }
          },
          beforeSend : function(xhr) {
            xhr.setRequestHeader("AJAX", "true");
          },
          error : function(xhr, status, error) {
            console.log(xhr);
            alert("로그인이 필요한 기능입니다.");
            location.href = "/member/login";
          }
        });
      });


      // 주문하기
      $("button[name='btn_buy_add']").on("click", function() {
        let cartAmount = $("#cart_amount").val(); // 주문 수량 가져오기
        let proCode = $(this).data("pro_code"); // 상품 코드 가져오기

        // 주문 페이지 URL 생성
        let url = `/order/order_info?pro_code=${proCode}&cart_amount=${cartAmount}&type=buy`;

        // 페이지 이동
        location.href = url;
    });


        
  });

</script>

</th:block>
</html>