<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" th:each= "productVo : ${pro_list}">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <a th:href="|/product/pro_info?pro_code=${productVo.pro_code}|">
            <img style="width: 100%; height: 225px;" th:src="${'/product/image_display?dateFolderName' + productVo.pro_up_folder + '&fileName=s_' + productVo.pro_img}">
          </a>
          <div class="card-body">
            <h5 th:text="${productVo.pro_name}"></h5>
            <span th:text="|${#numbers.formatInteger(productVo.pro_price, 3, 'COMMA')}원|"></span>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">상품후기 100</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</th:block>
</html>