<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

        table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

    </style>
</th:block>
<th:block layout:fragment="content">

<div class="card-body">
    <form action="/search/search_list" method="get">
    <div class="row">
        <div class="col-2"><i class="bi bi-search"></i> 검색어</div>
        <div class="col-3">
            <select name="searchType" class="form-control">
                <option value="" th:selected= "${''} == ${cri.searchType}">검색종류 선택</option>
                <option value="n" th:selected= "${'n'} == ${cri.searchType}">도서명</option>
                <option value="p" th:selected= "${'p'} == ${cri.searchType}">출판사</option>
                <option value="w" th:selected= "${'w'} == ${cri.searchType}">작가</option>
            </select>
        </div>
        <div class="col-7">
            <input type="text" name="keyword" class="form-control" th:value="${cri.keyword}" placeholder="검색어를 입력하세요.">
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-secondary custom-green-btn">검색</button>
        </div>
    </div>
    </form>
    
<!-- 검색어가 있을 때만 결과 표시 -->
 
<div th:if="${not #strings.isEmpty(cri.keyword) and cri.keyword != null}">
    <h3 class="text-center mt-5 mb-5">검색 결과</h3>
    <div th:if="${#lists.isEmpty(search_list)}">
        <p>검색 결과가 없습니다.</p>
    </div>

    <table  class="table" th:unless="${#lists.isEmpty(search_list)}">
      <thead>
        <tr>
          <th scope="col" style="width: 10%; text-align: center;">No.</th>
          <th scope="col" style="width: 20%; text-align: center;">이미지</th>
          <th scope="col" style="width: 10%; text-align: center;">도서명</th>
          <th scope="col" style="width: 10%; text-align: center;">출판사</th>
          <th scope="col" style="width: 10%; text-align: center;">가격</th>
          <th scope="col" style="width: 10%; text-align: center;">상세정보</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each= "product : ${search_list}">
          <td class="text-center">[[${product.pro_code}]]</td>
          <td class="text-center">
            <a th:href="|/product/pro_info?pro_code=${product['pro_code']}|">
            <img style="width: 100px;height: 150px;" th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}">
          </td>
          <td class="text-center" th:text="${product['pro_name']}"></td>
          <td class="text-center" th:text="${product['pro_publisher']}"></td>
          <td class="text-center" th:text="${#numbers.formatInteger(product['pro_price'], 3, 'COMMA') + '원'}"></td>
          <td class="text-center" style="border-right: 1px solid #ccc;">
            <!-- 상품 상세 버튼을 아래로 올리기 위해 스타일 수정 -->
            <a th:href="|/product/pro_info?pro_code=${product.pro_code}|" class="btn btn-outline-secondary" style="display: block; margin-top: 10px;">상품 상세</a>
          </td>
        </tr>
      </tbody>        
    </table>
  </div>

    <!-- 페이징 및 검색 파라미터 정보 -->
    <form id="criteriaForm" action="/search/search_list" method="get">
        <!--페이징, 검색 파라미터-->
        <input type="hidden" name="page" id="page" th:value="${cri.page}">
        <input type="hidden" name="perPageNum" id="perPageNum" th:value="${cri.perPageNum}">
        <input type="hidden" name="searchType" id="searchType" th:value="${cri.searchType}">
        <input type="hidden" name="keyword" id="keyword" th:value="${cri.keyword}">
    </form>
    
    <div class="card-footer clearfix">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!--이전표시 여부-->
                <th:block th:if="${pageMaker.prev}">
                    <li class="page-item">
                        <a class="page-link movePage" th:href="|/search/search_list${pageMaker.makeSearch(pageMaker.startPage - 1)}|">Previous</a></li>
                </th:block>

                <!-- 페이지 번호 출력-->
                <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <li class="page-item" th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
                        <a class="page-link movePage" th:href="|/search/search_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a>
                    </li>
                </th:block>


                <!--다음표시여부-->
                <th:block th:if="${pageMaker.next}">
                    <li class="page-item">
                        <a class="page-link movePage" th:href="|/search/search_list${pageMaker.makeSearch(pageMaker.endPage + 1)}|">Next</a></li>
                </th:block>
            </ul>
        </nav>
    </div>
</div>






</th:block>
</html>