<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<div class="row">
    <div class="col text-center mb-3 mt-3">
      <h3>주문 및결제</h3>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">        
    <div class="col">

    </div>
  </div>

  <script th:inline="javascript">

    $(document).ready(function() {

      


    });  // ready event end

  </script>
</th:block>
</html>