<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">
	
	
<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>
</th:block>

<th:block layout:fragment="content">

	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">공지사항 목록</h3>
					</div>
					<!-- /.card-header -->
					<!-- list start-->
					<div class="card-body">
						<!--search-->
						<form action="/admin/notice/list" method="get">
							<div class="form-group row">
								<div class="col-2">
									<select name="searchType" class="form-control">
										<option selected>검색종류 선택</option>
										<option value="t">제목</option>
										<option value="n">글번호</option>
										<option value="i">작성자</option>
										<option value="ti">제목 or 작성자</option>
									</select>
								</div>
								<div class="col-4">
									<input type="text" name="keyword" class="form-control"
										placeholder="Enter ...">
								</div>
								<div class="col-2">
									<button type="submit" class="btn btn-block btn-outline-info">Serach</button>
								</div>
							</div>
						</form>

						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 10%"><input type="checkbox"></th>
									<th style="width: 10%">No.</th>
									<th style="width: 30%">글 제목</th>
									<th style="width: 10%">작성자</th>
									<th style="width: 10%">조회수</th>
									<th style="width: 20%">등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="NoticeVo:${list}" th:object="${NoticeVo}">
									<td><input type="checkbox"></td>
									<td th:text="${NoticeVo.ntc_bno}"></td>
									<td><a th:href="|/admin/notice/read${pageMaker.makeSearch(pageMaker.cri.page)}&ntc_bno=${NoticeVo.ntc_bno}|"
									th:text="${NoticeVo.ntc_title}"></a></td>
									<td th:text="${NoticeVo.adm_id}"></td>
									<td th:text="${NoticeVo.ntc_viewcount}"></td>
									<td
										th:text="${#dates.format(NoticeVo.ntc_regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
									<td>
										<button type="button" class="btn btn-block btn-outline-info">EDIT</button>
										<button type="button" class="btn btn-block btn-outline-info">DELETE</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="card-footer clearfix">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<!--이전표시 여부-->
								<th:block th:if="${pageMaker.prev}">
									<li class="page-item"><a class="page-link"
										th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.startPage - 1) }|">Previous</a></li>
								</th:block>

								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
										<a class="page-link"
										th:href="|/admin/product/pro_list${pageMaker.makeSearch(num)}|"
										th:text="${num}"></a>
									</li>
								</th:block>


								<!--다음표시여부-->
								<th:block th:if="${pageMaker.next}">
									<li class="page-item"><a class="page-link"
										th:href="|/list${pageMaker.makeSearch(pageMaker.endPage + 1) }|">Next</a></li>
								</th:block>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		// ckeditor 설정
		var ckeditor_config = {
			resize_enabled : false,
			enterMode : CKEDITOR.ENTER_BR,
			shiftEnterMode : CKEDITOR.ENTER_P,
			toolbarCanCollapse : true,
			removePlugins : "elementspath",
			//업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
			filebrowserUploadUrl : '/admin/product/imageupload'
		}

		// id="content" 인 textarea태그에 ckeditor_config 변수가 가지고 있는 설정정보를 적용하겠다.는 의미
		CKEDITOR.replace("ntc_content", ckeditor_config);
	</script>
</th:block>

	


<th:block th:replace="~{admin/fragments/footer}"></th:block> 


<th:block th:replace="~{admin/fragments/plugin_2}"></th:block>