<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">
	
	
<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>
</th:block>

<th:block layout:fragment="content">

	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">공지사항 목록</h3>
					</div>
					<!-- /.card-header -->
					<!-- list start-->
					<div class="card-body row">
						<!--search-->
					<div class="col-8">
						<form action="/admin/notice/notice_list" method="get" >
							<div class="form-group row">
								<div class="col-2">
									<select name="searchType" class="form-control">
										<option selected>검색종류 선택</option>
										<option value="t">제목</option>
										<option value="n">글번호</option>
										<option value="i">작성자</option>
										<option value="ti">제목 or 작성자</option>
									</select>
								</div>
								<div class="col-4">
									<input type="text" name="keyword" class="form-control" placeholder="검색어 입력">
								</div>
								<div class="col-2">
									<button type="submit" class="btn btn-block btn-outline-info">Serach</button>
								</div>
							</div>
						</form>
					</div>
						<div class="col-4">
							<button type="button" class="btn btn-block w-50 btn-outline-danger" id="btn_nt_sel_delete">선택삭제</button>
						</div>

					<form name="frm_nt_list" id="frm_nt_list" action="/admin/notice/nt_sel_delete" method="post" class="col">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 10%">
										<input type="checkbox" id="checkAll">
									</th>
									<th style="width: 10%">No.</th>
									<th style="width: 30%">글 제목</th>
									<th style="width: 10%">작성자</th>
									<th style="width: 10%">조회수</th>
									<th style="width: 20%">등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="NoticeVo:${list}" th:object="${NoticeVo}">
									<td>
										<input type="checkbox" name="check" th:value="${NoticeVo.ntc_bno}">
									</td>
									<td th:text="${NoticeVo.ntc_bno}"></td>
									<td><a th:href="|/admin/notice/notice_read${pageMaker.makeSearch(pageMaker.cri.page)}&ntc_bno=${NoticeVo.ntc_bno}|"
									th:text="${NoticeVo.ntc_title}"></a></td>
									<td th:text="${NoticeVo.adm_id}"></td>
									<td th:text="${NoticeVo.ntc_viewcount}"></td>
									<td
										th:text="${#dates.format(NoticeVo.ntc_regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
									<td>
										<button type="button" class="btn btn-block btn-outline-info" th:data-ntc_bno="${NoticeVo.ntc_bno}" name="btn_ntc_edit">EDIT</button>
										<button type="button" class="btn btn-block btn-outline-info" th:data-ntc_bno="${NoticeVo.ntc_bno}" name="btn_nt_delete">DELETE</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
						<!-- 페이징 및 검색 파라미터 정보 -->
					<form id="criteriaForm" action="" method="get">
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}">
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}">
						<input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}">
						<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
						<input type="hidden" name="ntc_bno" id="ntc_bno">
					</form>
					</div>

					<div class="card-footer clearfix">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<!--이전표시 여부-->
								<th:block th:if="${pageMaker.prev}">
									<li class="page-item"><a class="page-link"
										th:href="|/admin/notice/list${pageMaker.makeSearch(pageMaker.startPage - 1) }|">Previous</a></li>
								</th:block>

								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
										<a class="page-link"
										th:href="|/admin/notice/list${pageMaker.makeSearch(num)}|"
										th:text="${num}"></a>
									</li>
								</th:block>


								<!--다음표시여부-->
								<th:block th:if="${pageMaker.next}">
									<li class="page-item"><a class="page-link"
										th:href="|/list${pageMaker.makeSearch(pageMaker.endPage + 1) }|">Next</a></li>
								</th:block>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		// ckeditor 설정
		var ckeditor_config = {
			resize_enabled : false,
			enterMode : CKEDITOR.ENTER_BR,
			shiftEnterMode : CKEDITOR.ENTER_P,
			toolbarCanCollapse : true,
			removePlugins : "elementspath",
			//업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
			filebrowserUploadUrl : '/admin/notice/imageupload'
		}

		// id="content" 인 textarea태그에 ckeditor_config 변수가 가지고 있는 설정정보를 적용하겠다.는 의미
		CKEDITOR.replace("ntc_content", ckeditor_config);
	</script>
</th:block>

<th:block layout:fragment="script2">

<script>
	$(document).ready(function() {

	// 체크박스 클릭
	let isCheck = true;
	
		$("#checkAll").on("click", function() {
			$("input[name = 'check']").prop("checked", this.checked);
			isCheck = this. checked;
		});

		$("input[name = 'check']").on("click", function() {
			$("#checkAll").prop("checked", this.checked);

			$("input[name='check']").each(function() {
				if(!$(this).is(":checked")) {
					$("#checkAll").prop("checked", false);
				}
			});
		});

		$("#btn_nt_sel_delete").on("click", function() {

			if(!confirm("선택하신 공지를 삭제하겠습니까?")) return;

			if($("input[name='check']:checked").length == 0) {
				alert("삭제할 공지를 선택하세요.");
				return;
			}
			$("#frm_nt_list").submit();
		});

		let criteriaForm = $("#criteriaForm");
		// 수정버튼 클릭 btn_ntc_edit
		$("button[name='btn_ntc_edit']").on("click", function() {
			let ntc_bno = $(this).data("ntc_bno");
			// alert(ntc_bno);
			$("#ntc_bno").val(ntc_bno);

			criteriaForm.attr("action", "/admin/notice/edit");
			criteriaForm.submit();
		});

		// 삭제 btn_pro_del
		$("button[name='btn_nt_delete']").on("click", function() {

			if(!confirm("삭제하시겠습니까?")) return;

			let ntc_bno = $(this).data("ntc_bno");

			$("#ntc_bno").val(ntc_bno);

			criteriaForm.attr("action", "/admin/notice/delete");
			criteriaForm.submit();
			});
		
	});
</script>

</th:block>


<th:block th:replace="~{admin/fragments/footer}"></th:block> 


<th:block th:replace="~{admin/fragments/plugin_2}"></th:block>