<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">
	
<th:block layout:fragment="content">
    <h3 class="text-center mt-5 mb-3">공지사항</h3>
    <div class="container mt-5">
      <div class="row">
          <div class="col">
              <div class="card card-primary">
                  <form class="form-horizontal" method="get" id="read" action="/admin/notice/read">
                   <table>
                    <tbody>
                        <tr>
                            <td scope="row" th:text="|게시물 번호 : ${NoticeVo.ntc_bno}|"></td>
                            <td th:text="|제목 : ${NoticeVo.ntc_title}|"></td>
                            <td th:text="|조회수 : ${NoticeVo.ntc_viewcount}|"></td>
                        </tr>
                        <tr>
                            <td scope="row">내용</td>
                            <td th:text="${NoticeVo.ntc_content}"></td>
                        </tr>
                        <tr>
                            <td th:text="|등록일 : ${#dates.format(NoticeVo.ntc_regdate, 'yyyy-MM-dd HH:mm:ss')} / 수정일 : ${#dates.format(NoticeVo.ntc_updatedate, 'yyyy-MM-dd HH:mm:ss')}|"></td>
                        </tr>
                        </tbody>
                 
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">목록</button>
                      <button type="submit" class="btn btn-primary">수정</button>
                      <button type="submit" class="btn btn-primary">삭제</button>
                    </div>
                </table>
                  </form>
              
                </div>
          </div>
      </div>
      <!-- 화면 여기로 다시 구현할 것 . . -->
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName">Project Name</label>
              <input type="text" id="inputName" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputDescription">Project Description</label>
              <textarea id="inputDescription" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="inputStatus">Status</label>
              <select id="inputStatus" class="form-control custom-select">
                <option selected="" disabled="">Select one</option>
                <option>On Hold</option>
                <option>Canceled</option>
                <option>Success</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputClientCompany">Client Company</label>
              <input type="text" id="inputClientCompany" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Project Leader</label>
              <input type="text" id="inputProjectLeader" class="form-control">
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
  </div>
</th:block>

<th:block th:replace="~{admin/fragments/footer}"></th:block> 


<th:block th:replace="~{admin/fragments/plugin_2}"></th:block>