<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">
	
	<th:block layout:fragment="script">
		<script src="/ckeditor/ckeditor.js"></script>
	</th:block>

	<th:block layout:fragment="content">
	      <h3 class="text-center mt-5 mb-3">공지사항 등록</h3>
		  <div class="container mt-5">
			<div class="row">
				<div class="col">
					<div class="card card-primary">
						<form class="form-horizontal" method="post" id="saveForm" action="/admin/notice/register">
						<div class="card-header">
						  <h3 class="card-title">공지사항 등록</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<!-- <form method="post" accept="/admin/notice/register"> -->
						<div class="card-body">
							<div class="form-group">
							<label for="ntc_title">제목</label>
							<input type="text" class="form-control" id="ntc_title" name="ntc_title" placeholder="제목 입력">
							</div>
							<div class="form-group">
								<label for="adm_id">작성자</label>
								<div>
								<input type="text" class="form-control" id="adm_id" name="adm_id" placeholder="작성자 입력">
							</div>
								</div>

								<label for="ntc_content">공지글 내용</label> <!--ckdeitor 사용-->
									<textarea class="form-control" id="ntc_content" name="ntc_content" placeholder="상세설명 입력"></textarea>
							</div>


							
						  <!-- /.card-body -->
		  
						  <div class="card-footer">
							<button type="submit" class="btn btn-primary">글 저장</button>
						  </div>
						<!-- </form> -->
					</form>
					  </div>
				</div>
			</div>
		</div>
		<script>
			// ckeditor 설정
			var ckeditor_config = {
					resize_enabled : false,
					enterMode : CKEDITOR.ENTER_BR,
					shiftEnterMode : CKEDITOR.ENTER_P,
					toolbarCanCollapse : true,
					removePlugins : "elementspath", 
					//업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
					filebrowserUploadUrl: '/imageupload' 
			}
	
			// id="content" 인 textarea태그에 ckeditor_config 변수가 가지고 있는 설정정보를 적용하겠다.는 의미
			CKEDITOR.replace("ntc_content", ckeditor_config);
		</script>
	</th:block>

</html>