<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.admin.notice.AdNoticeMapper">

	<insert id="save" parameterType="com.so.book.admin.notice.NoticeVo">
		insert into
			notice_tbl(ntc_title, ntc_content, adm_id)
		values
			(#{ntc_title}, #{ntc_content}, #{adm_id})
	</insert>
	
	<select id="listAll" resultType="com.so.book.admin.notice.NoticeVo" parameterType="com.so.book.common.utils.SearchCriteria">
	select
		ntc_bno, ntc_title, ntc_content, adm_id, ntc_regdate, ntc_updatedate, ntc_viewcount
	from
		notice_tbl
	where
		ntc_bno > 0
		
		<include refid="search"></include>
		
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="read" parameterType="int" resultType="com.so.book.admin.notice.NoticeVo">
	select
		ntc_bno, ntc_title, ntc_content, adm_id, ntc_regdate, ntc_updatedate, ntc_viewcount
	from
		notice_tbl
	where
		ntc_bno = #{ntc_bno}
	</select>
	
	<update id="viewCount" parameterType="int">
		update
			notice_tbl
		set
			ntc_viewcount = ntc_viewcount + 1
		where ntc_bno = #{ntc_bno}
	
	</update>
	
	<select id="getTotalCount" resultType="int">
		select
			count(*)
		from
			notice_tbl
		where
			ntc_bno > 0
		<include refid="search"></include>
			
	</select>
	
	
	<sql id="search">

	<if test="searchType != null">
	 <if test="searchType == 't'.toString()">
		and ntc_title like concat('%', #{keyword}, '%')
	 </if>
	  <if test="searchType == 'n'.toString()">
		and ntc_bno like concat('%', #{keyword}, '%')
	 </if>
	  <if test="searchType == 'i'.toString()">
		and adm_id like concat('%', #{keyword}, '%')
	 </if>
	  <if test="searchType == 'ti'.toString()">
		and ntc_title like concat('%', #{keyword}, '%') 
		 or 
		adm_id like concat('%', #{keyword}, '%')
	 </if>
	</if>
	</sql>

	<select id="edit" resultType="com.so.book.admin.notice.NoticeVo">
		select
			ntc_bno, ntc_title , ntc_content , adm_id , ntc_regdate , ntc_updatedate , ntc_viewcount 
		from notice_tbl
		where ntc_bno = #{ntc_bno}
			
			
	</select>

	<update id="edit_save" parameterType="com.so.book.admin.notice.NoticeVo">
		update
			notice_tbl
		set
			ntc_title = #{ntc_title},
			ntc_content = #{ntc_content},
			ntc_updatedate = now()
		where
			ntc_bno = #{ntc_bno}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from
			notice_tbl
		where
			ntc_bno = #{ntc_bno}
	</delete>
	
	<delete id="nt_sel_delete">
		delete from
			notice_tbl
		where
			ntc_bno in
		<foreach collection="ntc_bno_arr" item="item" open="(" separator="," close=")">	
		 #{item}
		 </foreach>
	</delete>
</mapper>