<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.admin.product.AdProductMapper">

	<insert id="pro_insert" parameterType="com.so.book.admin.product.ProductVo">
		insert into
			product_tbl(cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_writer)
		values(#{cate_code}, #{pro_name}, #{pro_price}, #{pro_discount}, #{pro_publisher}, #{pro_content}, #{pro_up_folder}, #{pro_img}, #{pro_amount}, #{pro_buy}, #{pro_writer})
	</insert>

	<select id="pro_list" resultType="com.so.book.admin.product.ProductVo" parameterType="com.so.book.common.utils.SearchCriteria">
		select
			pro_code, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_review, pro_date, pro_update
		from
			product_tbl
		where
			pro_code > 0
			
		<include refid="search"></include>
		<include refid="period"></include>
		<!-- <include refid="cate_code_condition"></include> -->
		<include refid="pro_buy"></include>
			
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select> 
	
<!-- <select id="pro_list" resultType="com.so.book.admin.product.ProductVo" parameterType="com.so.book.common.utils.SearchCriteria">
    select
        p.pro_code, p.cate_code, p.pro_name, p.pro_price, p.pro_discount, p.pro_publisher, p.pro_content,
        p.pro_up_folder, p.pro_img, p.pro_amount, p.pro_buy, p.pro_review, p.pro_date, p.pro_update,
        c.cate_name, c.cate_prtcode
    from
        product_tbl p
    left join
        category_tbl c on p.cate_code = c.cate_code 
    where
        p.pro_code > 0
    
    <include refid="search"></include>
    <include refid="period"></include>
   <include refid="cate_code_condition"></include> 
    <include refid="pro_buy"></include>

    limit #{cri.pageStart}, #{cri.perPageNum}
</select>  -->

	
	 <select id="getTotalCount" resultType="int">
		select
			count(*)
		from
			product_tbl
		where
			pro_code > 0
			
		<include refid="search"></include>
		<include refid="period"></include>
		<!--<include refid="cate_code_condition"></include>-->
		<include refid="pro_buy"></include>
			
	</select>
	
	<!--<select id="getTotalCount" resultType="int">
		select
			count(*)
		from
			product_tbl p
		inner join
			category_tbl c
		on p.cate_code = c.cate_code 
		where
			p.pro_code > 0
			
		<include refid="search"></include>
		<include refid="period"></include>
		 <include refid="cate_code_condition"></include>  
		<include refid="pro_buy"></include>
			
	</select> -->
	
	<sql id="search">
		<if test="cri.searchType != null">
		 <if test="cri.searchType == 'n'.toString()">
			and pro_name like concat('%', #{cri.keyword}, '%')
		 </if>
		  <if test="cri.searchType == 'c'.toString()">
			and  pro_code like concat('%', #{cri.keyword}, '%')
		 </if>
		  <if test="cri.searchType == 'p'.toString()">
			and  pro_publisher like concat('%', #{cri.keyword}, '%')
		 </if><if test="cri.searchType == 'w'.toString()">
			and  pro_writer like concat('%', #{cri.keyword}, '%')
		 </if>
		</if>
	</sql>
	
	<!-- 날짜검색 -->
	<sql id="period">
		<if test="period != null and !period.equals('') and start_date != null and !start_date.equals('') and end_date != null and !end_date.equals('')">
			<if test="period == 'pro_date'.toString()">
				<![CDATA[
				and  pro_date >= date(#{start_date}) and  pro_date < date(#{end_date}) + 1
				]]>
			</if>
			<if test="period == 'pro_update'.toString()">
				<![CDATA[
				and  pro_update >= date(#{start_date}) and  pro_update < date(#{end_date}) + 1
				]]>
			</if>
		</if>
	</sql>
	
	<!-- 카테고리 검색
	<sql id="cate_code_condition"> 
    	 <if test="cate_prtcode != null and !cate_prtcode.equals('')">
      	  	and c.cate_prtcode = #{cate_prtcode}
    	</if>
    	<if test="cate_code != null and !cate_code.equals('')">
        	and c.cate_code = #{cate_code}
    	</if>
	</sql>  -->
	
	
	
	<!-- 판매여부 검색 -->
	<sql id="pro_buy">
		<if test="pro_buy != null and !pro_buy.equals('')">
			and  pro_buy = #{pro_buy}
		</if>
	</sql>


	<delete id="pro_sel_delete">
		delete from
				product_tbl
			where
				pro_code in
		<foreach collection="pro_code_arr" item="item" open="(" separator="," close=")">
			#{item}
			
		</foreach>
	</delete>
	
	<select id="pro_edit_form" resultType="com.so.book.admin.product.ProductVo">
		select
			pro_code, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, 
			pro_up_folder, pro_img, pro_amount, pro_buy, pro_date, pro_update
		from
			product_tbl
		where
			pro_code = #{pro_code}
	</select>
	
	<update id="pro_edit_save" parameterType="com.so.book.admin.product.ProductVo">
		update 
			product_tbl
		set 
			cate_code = #{cate_code}, pro_name = #{pro_name}, pro_price = #{pro_price}, pro_discount =#{pro_discount}, pro_publisher = #{pro_publisher}, 
			pro_content = #{pro_content}, pro_up_folder = #{pro_up_folder} , pro_img = #{pro_img}, pro_amount = #{pro_amount}, pro_buy = #{pro_buy}, pro_update = now()
		where
			pro_code = #{pro_code}
	</update>
	
	<delete id="pro_delete" parameterType="Integer">
		delete from
			product_tbl
		where
			pro_code = #{pro_code}
	
	</delete>
	
	
</mapper>