<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.admin.qna.AdQnaMapper">

	<select id="qna_list" resultMap="Qna_answer">
		select 
			qt.qna_code, qt.mem_id, qt.pro_code, qt.qna_title, qt.qna_content, qt.qna_date, qt.qna_update,
			pt.pro_name, pt.pro_up_folder, pt.pro_img,
			qat.ans_code, qat.manager_id, qat.ans_title, qat.ans_content, qat.ans_date, qat.ans_update 
		from 
			question_tbl qt
		left join
			product_tbl pt
		on 
			qt.pro_code = pt.pro_code
		left join			
			qna_answer_tbl qat
		on
			qt.qna_code = qat.qna_code
		where 
			qt.qna_code > 0
			
		<include refid="search"></include>
		<include refid="period"></include>
		
		order by 
			qt.qna_code desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<resultMap type="com.so.book.qna.QnaVo" id="Qna_answer">
	<!-- 기본 qna 정보 -->
	<id property="qna_code" column="qna_code"/>
	<result property="mem_id" column="mem_id"/>
	<result property="pro_code" column="pro_code"/>
	<result property="qna_title" column="qna_title"/>
	<result property="qna_content" column="qna_content"/>
	<result property="qna_date" column="qna_date"/>
	<result property="qna_update" column="qna_update"/>
	
	<!-- 상품 정보 -->
	<association property="product" javaType="com.so.book.admin.product.ProductVo">
	<result property="pro_name" column="pro_name"/>
	<result property="pro_up_folder" column="pro_up_folder"/>
	<result property="pro_img" column="pro_img"/>
	</association>
	
	<!-- 답글 정보 -->
	<collection property="answer" ofType="com.so.book.qna.AnswerVo">
		<id property="ans_code" column="ans_code"/>
		<result property="manager_id" column="manager_id"/>
		<result property="ans_title" column="ans_title"/>
		<result property="ans_content" column="ans_content"/>
		<result property="ans_date" column="ans_date"/>
		<result property="ans_update" column="ans_update"/>
	</collection>
	
	</resultMap>
	
	<select id="qna_count" resultType="int">
		select
			count(*)
		from
			question_tbl qt
		left join
			product_tbl pt
		on
			qt.pro_code = pt.pro_code
		where
			qt.qna_code > 0
		<include refid="search"></include>
		<include refid="period"></include>
	</select>
	
	<select id="answer_info" resultType="com.so.book.qna.AnswerVo">
		select
			ans_code, qna_code, manager_id, ans_title, ans_content, ans_date, ans_update
		from
			qna_answer_tbl
		where
			ans_code = #{ans_code}
	</select>
	
	<update id="answer_modify_save">
		update
			qna_answer_tbl
		set
			ans_title = #{ans_title}, ans_content = #{ans_content}, ans_date = now()
		where
			ans_code = #{ans_code}
	</update>
	
	<delete id="answer_delete">
		delete from
			qna_answer_tbl
		where
			ans_code = #{ans_code}
	</delete>
	
	<!-- 기본 키워드 검색 -->
	<sql id="search">
		<if test="cri.searchType != null">
	   	<if test="cri.searchType == 'n'.toString()">
	   		and pt.pro_name like concat ('%', #{cri.keyword}, '%')
	   	</if>
	   	<if test="cri.searchType == 'c'.toString()">
	   		and pt.pro_code = #{cri.keyword}
	   	</if>
	   	<if test="cri.searchType == 'm'.toString()">
	   		and qt.mem_id = #{cri.keyword}
	   	</if>
	   	<if test="cri.searchType == 'qc'.toString()">
	   		and qt.qna_code = #{cri.keyword}
	   	</if>
	   </if>
 	</sql>
	  
  	<!-- 날짜검색 -->
	<sql id="period">
		<if test="period != null and !period.equals('') and start_date != null and !start_date.equals('') and end_date != null and !end_date.equals('')">
			<if test="period == 'qna_date'.toString()">
				<![CDATA[
				and  qt.qna_date >= date(#{start_date}) and  qt.qna_date < date(#{end_date}) + 1
				]]>
			</if>
			<if test="period == 'qna_update'.toString()">
				<![CDATA[
				and  qt.qna_update >= date(#{start_date}) and  qt.qna_update < date(#{end_date}) + 1
				]]>
			</if>
		</if>
	</sql>
	</mapper>