<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.cart.CartMapper">

	<insert id="cart_add" parameterType="com.so.book.cart.CartVo">
		insert into
			cart_tbl(pro_code, mem_id, cart_amount)
		values
			(#{pro_code}, #{mem_id}, #{cart_amount})
		on duplicate key
			update cart_amount = cart_amount + #{cart_amount}
	</insert>
	
	
	<select id="getCartDetailsByUserId" resultType="HashMap">
		select
			p.pro_code , p.pro_name , p.pro_price , p.pro_up_folder , p.pro_img, c.cart_amount 
		from
			cart_tbl c
		inner join
			product_tbl p
		on
			c.pro_code = p.pro_code
		where
			c.mem_id = #{mem_id}
	</select>
	
	<select id="getCartTotalPriceByUserId" resultType="int">
		select
			sum(p.pro_price * c.cart_amount) as total_price
		from 
			cart_tbl c 
		inner join 
			product_tbl p
		on
			c.pro_code = p.pro_code
		where
			c.mem_id = #{mem_id}
	
	</select>
	
	<delete id="cart_empty" parameterType="String">
		delete from
			cart_tbl
		where
			mem_id = #{mem_id}
	</delete>
	
	<select id="cart_list" resultType="HashMap" parameterType="String">
		select 
			c.pro_code, c.mem_id, p.pro_name, p.pro_up_folder, p.pro_img, p.pro_price, c.cart_amount * p.pro_price as unitprice
		from 
			cart_tbl c 
		inner join 
			product_tbl p
		on 
			c.pro_code = p.pro_code
		where 
			c.mem_id = #{mem_id}
	</select>
	
	<update id="cart_change" parameterType="com.so.book.cart.CartVo">
		update
			 cart_tbl
		set 
			cart_amount = #{cart_amount}
		where 
			pro_code = #{pro_code}
		and 
			mem_id = #{mem_id}
			
	</update>
</mapper>