<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.notice.NoticeMapepr">

	<select id="getTotalNotice" resultType="int">
		select
			count(*)
		from
			notice_tbl
		where
			ntc_bno > 0
	</select>
	
	<select id="notice_read" parameterType="int" resultType="com.so.book.admin.notice.NoticeVo">
	select
		ntc_bno, ntc_title, ntc_content, adm_id, ntc_regdate, ntc_updatedate, ntc_viewcount
	from
		notice_tbl
	where
		ntc_bno = #{ntc_bno}
	</select>
	
	<update id="viewAdd" parameterType="int">
		update
			notice_tbl
		set
			ntc_viewcount = ntc_viewcount + 1
		where 
			ntc_bno = #{ntc_bno}
	</update>
</mapper>