<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.order.OrderMapper">

	<insert id="order_insert" parameterType="com.so.book.order.OrderVo">
		insert into
			order_tbl
				(mem_id, ord_name, ord_zipcode, ord_addr, ord_addr_detail, ord_tel, ord_email, ord_price)
			values
				(#{mem_id}, #{ord_name}, #{ord_zipcode}, #{ord_addr}, #{ord_addr_detail}, #{ord_tel}, #{ord_email}, #{ord_price})
	</insert>
	
	<insert id="order_detail_insert" parameterType="map">
		
		insert into
			ordetail_tbl
		select
			#{ord_code}, c.pro_code, c.cart_amount, p.pro_price
		from
			cart_tbl c
		inner join
			product_tbl p
		on
			c.pro_code = p.pro_code
		where
			c.mem_id = #{mem_id}
	</insert>
	
	<select id="getOrderInfoByOrd_code" resultType="HashMap">
		select
			ot.ord_code, pt.pro_name, pt.pro_up_folder, pt.pro_img, ot.dt_price, ot.dt_amount, pt2.payment_status 
		from 
			ordetail_tbl ot 
		inner join 
			product_tbl pt
		on
			ot.pro_code = pt.pro_code
		inner join 
			payment_tbl pt2 
		on 
			pt2.ord_code = ot.ord_code 
		where 
			ot.ord_code = #{ord_code}
	</select>
</mapper>