<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.order.OrderMapper">

	<insert id="order_insert" parameterType="com.so.book.order.OrderVo" useGeneratedKeys="true" keyProperty="ord_code">
		insert into
			order_tbl
				(mem_id, ord_name, ord_zipcode, ord_addr, ord_addr_detail, ord_tel, ord_email, ord_price)
			values
				(#{mem_id}, #{ord_name}, #{ord_zipcode}, #{ord_addr}, #{ord_addr_detail}, #{ord_tel}, #{ord_email}, #{ord_price})
	</insert>
	
	<insert id="order_detail_insert" parameterType="map">
		
		insert into
			ordetail_tbl
		select
			#{ord_code}, c.pro_code, c.cart_amount, p.pro_price
		from
			cart_tbl c
		inner join
			product_tbl p
		on
			c.pro_code = p.pro_code
		where
			c.mem_id = #{mem_id}
	</insert>
	
	<select id="getOrderInfoByOrd_code" resultType="HashMap">
		select
			ot.ord_code, pt.pro_name, pt.pro_up_folder, pt.pro_img, ot.dt_price, ot.dt_amount, pt2.payment_status 
		from 
			ordetail_tbl ot 
		inner join 
			product_tbl pt
		on
			ot.pro_code = pt.pro_code
		inner join 
			payment_tbl pt2 
		on 
			pt2.ord_code = ot.ord_code 
		where 
			ot.ord_code = #{ord_code}
	</select>
	
	<select id="getOrderInfoByUser_id" resultType="HashMap" parameterType="map">
		
		select 
			o.ord_code, o.ord_regdate, pt.pro_up_folder, pt.pro_img, pt.pro_name, odt.pro_code, odt.ord_code, odt.dt_price, odt.dt_amount, payt.payment_status, dt.delivery_status
		from
			order_tbl o
		inner join
			ordetail_tbl odt
		on 
			o.ord_code = odt.ord_code
		inner join 
			product_tbl pt 
		on 
			odt.pro_code = pt.pro_code
		inner join 
			payment_tbl payt
		on 
			odt.ord_code = payt.ord_code
		inner join 
			delivery_tbl dt 
		on 
			odt.ord_code = dt.ord_code
		where
			o.mem_id = #{mem_id}
		order by 
			o.ord_regdate desc
		limit 
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getOrderCountByUser_id" resultType="int">
		select
			count(*)
		from 
			order_tbl o
		inner join 
			ordetail_tbl odt
		on 
			o.ord_code = odt.ord_code
		inner join 
			product_tbl pt
		on 
			odt.pro_code = pt.pro_code
		inner join 
			payment_tbl payt
		on 
			odt.ord_code = payt.ord_code
		where 
			o.mem_id = #{mem_id}
	</select>
	
	<select id="getCategoryNameByPro_code" resultType="String">
		select 
			ct.cate_name
		from 
			product_tbl pt
		inner join 
			category_tbl ct 
		on 
			pt.cate_code = ct.cate_code 
		where 
			pt.pro_code = #{pro_code}
	</select>
	
	<select id="review_manage" resultType="HashMap" parameterType="Map">
	
		select 
			o.ord_code, o.ord_regdate,  pt.pro_up_folder, pt.pro_img, pt.pro_name, odt.pro_code, dt.delivery_date, pt.cate_code 
		from 
			order_tbl o 
		inner join 
			ordetail_tbl odt 
		on 
			o.ord_code = odt.ord_code 
		inner join 
			product_tbl pt 
		on 
			odt.pro_code  = pt.pro_code
		inner join
			delivery_tbl dt
		on
			o.ord_code = dt.ord_code
		where 
			o.mem_id = #{mem_id}
		and 
			dt.delivery_status = '배송완료'
		order by
			o.ord_code desc
		limit 
			#{cri.pageStart}, #{cri.perPageNum}	
		
	</select>
	
	<select id="getReviewCountByUser_id" resultType="int" parameterType="String">
	
		select 
			count(*) 
		from 
			order_tbl o 
		inner join 
			ordetail_tbl odt 
		on 
			o.ord_code = odt.ord_code 
		inner join 
			product_tbl pt 
		on 
			odt.pro_code  = pt.pro_code
		inner join
			delivery_tbl dt
		on
			o.ord_code = dt.ord_code
		where 
			o.mem_id = #{mem_id}
		and 
			dt.delivery_status = '배송완료'
		
	</select>
	
	<select id="order_detail_info" resultType="HashMap">
	
		select 
 			ot.ord_code, pt.pro_name, pt.pro_code, pt.pro_up_folder, pt.pro_img, ot.dt_amount, ot.dt_price, o.ord_status, o.ord_regdate 
 		from
 			order_tbl o
		inner join 
			ordetail_tbl ot
		on 
			o.ord_code = ot.ord_code
		inner join 
			product_tbl pt
		on 
			ot.pro_code = pt.pro_code
		where 
			ot.ord_code = #{ord_code} 
	</select>
	
	<select id="payment_info" resultType="com.so.book.payment.PaymentVo">
		select
 			payment_id, ord_code, mem_id, payment_method, payment_price, payment_status, payment_date
 		from
 			payment_tbl
 		where 
 			ord_code = #{ord_code}
	</select>
	
	<select id="order_delivery_info" resultType="com.so.book.order.OrderVo">
		select ord_code, mem_id, ord_name, ord_zipcode, ord_addr, ord_addr_detail, ord_tel, ord_email, ord_price, ord_status, ord_message, ord_regdate
		from 
			order_tbl
		where
			ord_code = #{ord_code}
		
	</select>
	
	<update id="order_info_edit">
		update
 			 order_tbl
		set 
			ord_name = #{ord_name}, ord_tel = #{ord_tel}, ord_email = #{ord_email}, ord_zipcode = #{ord_zipcode}, ord_addr = #{ord_addr}, ord_addr_detail = #{ord_addr_detail}
		where 
			ord_code = #{ord_code}
	</update>
	
	<!-- 주문 상태 조회
    <select id="getOrderStatus" resultType="Integer">
        SELECT ord_status
        FROM order_tbl
        WHERE ord_code = #{ord_code}
    </select> -->
</mapper>