<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.review.ReviewMapper">

	<select id="rev_list" resultType="com.so.book.review.ReviewVo" parameterType="map">
		select
			rev_code, mem_id, pro_code, rev_content, rev_score, rev_date
		from
			review_tbl
		where
			pro_code = #{pro_code}
		order by
			rev_date desc
		limit 
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getCountReviewByPro_code" resultType="int" parameterType="Integer">
		select
			count(*)
		from
			review_tbl
		where
			pro_code = #{pro_code}
	</select>
	
	<insert id="review_save" parameterType="com.so.book.review.ReviewVo">
		insert into
			review_tbl(mem_id, pro_code, rev_content, rev_score)
		values
			(#{mem_id}, #{pro_code}, #{rev_content}, #{rev_score})
	</insert>
	
	<select id="review_info" resultType="com.so.book.review.ReviewVo" parameterType="Long">
		select
			rev_code, mem_id, pro_code, rev_content, rev_score, rev_date
		from 
			review_tbl
		where 
			rev_code = #{rev_code}
	</select>
	
	<update id="review_modify" parameterType="com.so.book.review.ReviewVo">
		update 
			review_tbl
		set 
			rev_content = #{rev_content},  rev_score = #{rev_score}, rev_date = now()
		where
			rev_code = #{rev_code} 
			
	</update>
	
	<delete id="review_delete" parameterType="Long">
		delete from
			review_tbl
		where
			rev_code = #{rev_code}
	</delete>
</mapper>