<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.so.book.review.ReviewMapper">

	<select id="rev_list" resultType="com.so.book.review.ReviewVo" parameterType="map">
		select
			rev_code, mem_id, pro_code, rev_content, rev_score, rev_date
		from
			review_tbl
		where
			pro_code = {pro_code}
		order by
			rev_date desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getCountReviewByPro_code" resultType="int" parameterType="Integer">
		select
			count(*)
		from
			review_tbl
		where
			pro_code = #{pro_code}
	</select>
</mapper>