<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    
    <th:block layout:fragment="content">
          <h3 class="mb-5 text-center">공지사항</h3>          
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <form action="/notice/notice_list" method="get">
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>글 번호</th>
                          <th>작성자</th>
                          <th>제목</th>
                          <th>조회수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each= "NoticeVo:${list}">
                          <td th:text="${NoticeVo.ntc_bno}"></td>
                          <td th:text="${NoticeVo.adm_id}"></td>
                          <td><a th:href= "|/notice/notice_read?ntc_bno=${NoticeVo.ntc_bno}|" th:text="${NoticeVo.ntc_title}"></a></td>
                          <td th:text="${NoticeVo.ntc_bno}"><span class="tag tag-success"></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </form>
        </div>
          <!-- 페이징 및 검색 파라미터 정보 -->
					<form id="criteriaForm" action="" method="get">
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}">
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}">
						<input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}">
						<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
						<input type="hidden" name="ntc_bno" id="ntc_bno">
					</form>
					

					<div class="card-footer clearfix">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
							<!-- 이전표시 여부 -->
								<th:block th:if="${pageMaker.prev}">
									<li class="page-item"><a class="page-link"
										th:href="|/notice/notice_list${pageMaker.makeSearch(pageMaker.startPage - 1) }|">Previous</a></li>
								</th:block>

								<th:block
									th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item"
										th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
										<a class="page-link"
										th:href="|/notice/notice_list${pageMaker.makeSearch(num)}|"
										th:text="${num}"></a>
									</li>
								</th:block>


								<!-- 다음표시여부 -->
								<th:block th:if="${pageMaker.next}">
									<li class="page-item"><a class="page-link"
										th:href="|/list${pageMaker.makeSearch(pageMaker.endPage + 1) }|">Next</a></li>
								</th:block>
							</ul>
						</nav>
					</div>
        </div>
    </th:block>


</html>