<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
<div class="container">
	<div class="row">
		<div class="col-3">
			<a class="link-offset-2  link-underline-success" href="/member/mypage">
				<th:block th:replace= "~{member/mypage_menu :: menu}"></th:block>
		</div>

		
	<div class="col-9">
		<h3 class="mt-3 mb-4 text-center">비밀번호 변경</h3>
		<form method="post" action="/member/pwchange">
			<div class="mb-3">
			<label for="cur_pw" class="form-label">기존비밀번호</label>
			<input type="password" class="form-control" id="cur_pw" name="cur_pw">
			</div>
			<div class="mb-3">
			<label for="new_pw" class="form-label">신규비밀번호</label>
			<input type="password" class="form-control" id="new_pw" name="new_pw">
			</div>
			<div class="mb-3">
			<label for="new_pwConfirm" class="form-label">신규 비밀번호 일치 확인</label>
			<input type="password" class="form-control" id="new_pwConfirm" name="new_pwConfirm">
				<div id="new_message"></div>
			</div>
			<div class="card-footer text-center">
				<button type="submit" class="btn btn-secondary">비밀번호 변경하기</button>
				<button type="button" id="btn_pwchange" class="btn btn-secondary">비밀번호 변경하기</button>
				
			</div>
		</form>
	</div>
	</div>
</div>	
	
	
</th:block>
<th:block layout:fragment="script2">
<script th:inline="javascript">
	let msg = [[${msg}]]; // msg는 스프링에서 선언한 이름

	if(msg == "fail") {
		alert("현재 비밀번호를 확인바랍니다.");
	}

	$(document).ready(function() {


		// 비밀번호 변경하기(로그인상태) 
		$("#btn_pwchange").on("click", function() {

			let cur_pw = $("#cur_pw").val(); // 현재 비번
			let new_pw = $("#new_pw").val(); // 새 비번
			let new_pwConfirm = $("#new_pwConfirm").val()	// 새 비번끼리 일치하는지 확인
			
			// 새 비번끼리 일치하는지 확인
			if (new_pw !== new_pwConfirm) {
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}
			
			$.ajax({
				url : '/member/pwchange',
				type: 'post',
				data : {cur_pw: $("#cur_pw").val() ,
						new_pw : $("#new_pw").val()
						},
				dataType: 'text',
				success : function(result) {
					if(result == "success") {
						alert("비밀번호가 변경되었습니다.");
					}else if(result == "fail") {
						alert("현재 비밀번호를 확인하세요.");
					}
					$("#cur_pw").val(""); // 현재 비번 지우기
					$("#new_pw").val(""); // 신규비번 지우기
					$("#new_pwConfirm").val("");
				}
			});

		});

		// 비밀번호 일치 확인
		$("#new_pw, #new_pwConfirm").on("keyup", function() {
        let newPw = $("#new_pw").val();
        let newPwConfirm = $("#new_pwConfirm").val();
        let newMsg = $("#new_message"); // ID 선택자 확인

        if (newPw === "") {
            newMsg.text("").removeClass("error success");
        } else if (newPw === newPwConfirm) {
            newMsg.text("비밀번호가 일치합니다.").removeClass("error").addClass("success");
        } else {
            newMsg.text("비밀번호가 일치하지 않습니다.").removeClass("success").addClass("error");
        }
		});
	});


	
</script>
</th:block>
</html>