<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<header class="border-bottom lh-1 py-3">
  <style>
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  </style>
  <div class="container">
  
    
    
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom "> 
    
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 20px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3 link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              소설
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/product/pro_list?cate_code=5">추리&미스테리</a></li>
              <li><a class="dropdown-item" href="/product/pro_list?cate_code=6">판타지</a></li>
              <li><a class="dropdown-item" href="/product/pro_list?cate_code=7">역사</a></li>
              <li><a class="dropdown-item" href="/product/pro_list?cate_code=8">로맨스</a></li>
              <li><a class="dropdown-item" href="/product/pro_list?cate_code=9">세계문학전집</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3 link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              시/에세이
            </a>
            <ul class="dropdown-menu">
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=10">현대시</a></li>
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=11">청소년 시</a></li>
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=12">청소년 에세이</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3 link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              자기계발
            </a>
            <ul class="dropdown-menu">
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=13">성공</a></li>
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=14">자기능력계발</a></li>
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=15">비즈니스능력계발</a></li>
            	<li><a class="dropdown-item" href="/product/pro_list?cate_code=16">인간관계</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3 link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              유아
            </a>
            <ul class="dropdown-menu">
           		<li><a class="dropdown-item" href="/product/pro_list?cate_code=17">유아놀이</a></li>
           		<li><a class="dropdown-item" href="/product/pro_list?cate_code=18">유아그림책</a></li>
           		<li><a class="dropdown-item" href="/product/pro_list?cate_code=19">유아학습</a></li>
            </ul>
          </li>
        </ul>
        
            
        
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">SO BOOK</span>
      </a>
      <th:block th:if= "${session.login_auth == null}">
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/member/login">로그인</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/member/join">회원가입</a>
        
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/member/mypage">마이페이지</a>
      </nav>
      </th:block>
      <th:block th:if= "${session.login_auth != null}">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/member/logout">로그아웃</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/cart/cart_list">장바구니</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/member/mypage">마이페이지</a>
        
      </nav>
   	 </th:block>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/notice/notice_list">공지사항</a>
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <button type="button" class="btn btn-outline-dark" onclick="location.href='/search/search_list'"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </nav>
        
    </div> 
</div>
</header>

</html>