<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">
	
<th:block layout:fragment="css">
	<style>
		
		.card-header.custom-card-header {
			background-color: black !important;
			color: white !important;
		}


	</style>
</th:block>

	<th:block layout:fragment="script">
		<script src="/ckeditor/ckeditor.js"></script>
	</th:block>

	<th:block layout:fragment="content">
		<h3 class="text-center mt-5 mb-3">상품 등록</h3>
		<div class="container mt-5">
			<div class="row">
				<div class="col">
					<div class="card card-primary">
						<div class="card-header custom-card-header">
						<h3 class="card-title">상품 등록</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form action="/admin/product/pro_insert" method="post" enctype="multipart/form-data">
						<div class="card-body">
							<div class="form-group">
								<label>1차 카테고리</label>
								<select class="custom-select" name="cate_prtcode" id="btn_firstCategory">
									<option>1차 카테고리 선택</option>
									<option th:each= "category:${cate_list}" th:value="${category.cate_code}" th:text="${category.cate_name}"></option>
								</select>
								<label>2차 카테고리</label>
								<select class="custom-select" name="cate_code" id="btn_secondCategory">
									<option>2차 카테고리 선택</option>
							</select>
						</div>
						<div class="form-group">
						<label for="pro_name">상품명</label>
							<input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="상품명 입력">
						</div>
						<div class="form-group">
						<label for="pro_writer">작가</label>
							<input type="text" class="form-control" id="pro_writer" name="pro_writer" placeholder="작가 입력">
						</div>
						<div class="form-group">
						<label for="pro_publisher">출판사</label>
							<input type="text" class="form-control" id="pro_publisher" name="pro_publisher" placeholder="출판사 입력">
						</div>
						<div class="form-group">
							<label for="pro_price">가격</label>
								<input type="number" class="form-control" id="pro_price" name="pro_price" placeholder="가격 입력">
							</div>
						<div class="form-group">
						<label for="pro_discount">할인율</label>
							<input type="text" class="form-control" id="pro_discount" name="pro_discount" placeholder="할인율 입력">
						</div>
						
						<div class="form-group">
							<label for="pro_content">상품 상세 설명</label> <!--ckdeitor 사용-->
								<textarea class="form-control" id="pro_content" name="pro_content" placeholder="상세설명 입력"></textarea>
						</div>


						<div class="form-group row">
							<label for="pro_img">상품 이미지</label>
							<div class="input-group col-8">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="pro_img_upload" name="pro_img_upload">
								<label class="custom-file-label" for="pro_img_upload">이미지 파일 선택</label>
							</div>
							<div class="input-group-append">
								<span class="input-group-text">상품 이미지</span>
							</div>
							</div>
						</div>
						<div class="form-group">
							<label>미리보기 이미지</label>
							<img id="img_preview" style="width: 200px; height: 200px;">
						</div>
						
						<div class="form-group">
							<label for="pro_amount">상품 수량</label>
								<input type="number" class="form-control" id="pro_amount" name="pro_amount" placeholder="수량 입력">
						</div>
						<div class="form-group">
							<label for="pro_buy">상품판매 여부</label>
								<div class="form-check">
								<input class="form-check-input" type="radio" name="pro_buy" id="pro_buy1" checked value="Y">
								<label class="form-check-label mr-5" for="pro_buy1">판매</label>
								<input class="form-check-input" type="radio" name="pro_buy" id="pro_buy2" value="N">
								<label class="form-check-label" for="pro_buy2">미판매</label>
								</div>
						</div>

						<!-- /.card-body -->
		
						<div class="mt-3 d-flex justify-content-center w-100">
						<button type="submit" class="btn btn-secondary">상품 등록하기</button>
						</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			// ckeditor 설정
			var ckeditor_config = {
					resize_enabled : false,
					enterMode : CKEDITOR.ENTER_BR,
					shiftEnterMode : CKEDITOR.ENTER_P,
					toolbarCanCollapse : true,
					removePlugins : "elementspath", 
					//업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
					filebrowserUploadUrl: '/admin/product/imageupload' 
			}
	
			// id="content" 인 textarea태그에 ckeditor_config 변수가 가지고 있는 설정정보를 적용하겠다.는 의미
			CKEDITOR.replace("pro_content", ckeditor_config);
		</script>
	</th:block>

	<th:block layout:fragment="script2">
		
	<script>

		$(document).ready(function(){

			// 1차 카테고리 클릭 이벤트 설정 id="btn_firstCategory"
			$("#btn_firstCategory").on("change", function() {
				
				let firstCategoryCode = $("#btn_firstCategory").val();
				
				// 2차 카테고리 목록 가져오는 매핑주소
				let url = "/admin/category/secondcategory/" + firstCategoryCode;

				$.getJSON(url, function(secondCategoryList) {

					//console.log("2차카테고리정보",secondCategoryList);
					// 2차 카테고리 select 태그 참조
				let secondCategoryCode = $("#btn_secondCategory");

				let optionStr = "";

				for(let i=0; i<secondCategoryList.length; i++) {
					optionStr += "<option value='" + secondCategoryList[i].cate_code + "'>" + secondCategoryList[i].cate_name + "</option>";
				}

				secondCategoryCode.find("option").remove();
				secondCategoryCode.append("<option>2차카테고리 선택</option");
				secondCategoryCode.append(optionStr);

				});
			});

			// 상품이미지 미리보기 pro_img_upload e 매개변수 : 선택한 파일정보
			$("#pro_img_upload").on("change", function(e) {
				let file = e.target.files[0]; // 파일첨부에서 선택한 한개의 파일을 가리키는 의미
				
				let reader = new FileReader();
				reader.readAsDataURL(file);

				reader.onload = function(e) {
					$("#img_preview").attr("src", e.target.result);
				}
			});
		});

	</script>
</th:block>
</html>