<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">

<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>

	<script>
				// 날짜 설정 함수
				function setDateRange(range) {
				const today = new Date();  // 날짜객체.
				const startInput = document.getElementById('start_date'); // 시작날짜 태그를 참조
				const endInput = document.getElementById('end_date'); // 종료날짜 태그를 참조
				
				let startDate, endDate;
	
				switch (range) {
					case 'today':
						startDate = new Date(today);
						endDate = new Date(today);
						break;
					case 'week':
						startDate = new Date(today);
						startDate.setDate(today.getDate() - 6);
						endDate = new Date(today);
						break;
					case 'month':
						startDate = new Date(today);
						startDate.setMonth(today.getMonth() - 1);
						endDate = new Date(today);
						break;
					case '3months':
						startDate = new Date(today);
						startDate.setMonth(today.getMonth() - 3);
						endDate = new Date(today);
						break;
					case 'all':
						startDate = '';
						endDate = '';
						break;
					default:
						return;
				}
	
				// 포맷팅하여 input에 값 설정
				startInput.value = startDate ? formatDate(startDate) : '';
				endInput.value = endDate ? formatDate(endDate) : '';
			}
	
			// 날짜를 yyyy-MM-dd 형식으로 포맷
			function formatDate(date) {
				const year = date.getFullYear();
				const month = String(date.getMonth() + 1).padStart(2, '0');
				const day = String(date.getDate()).padStart(2, '0');
				return `${year}-${month}-${day}`;
			}

			function initializeSearchForm() {

				const searchType = document.querySelector('select[name="searchType"]');
				const keyword = document.querySelector('input[name="keyword"]');
				const period = document.querySelector('select[name="period"]');
				const startDate = document.getElementById('start_date');
				const endDate = document.getElementById('end_date');
				const catePrtcode = document.querySelector('select[name="cate_prtcode"]');
				const cateCode = document.querySelector('select[name="cate_code"]');
				const proButRadio = document.querySelectorAll('input[name="pro_buy"]');

				// 드롭다운 초기화
				if (searchType) searchType.value = '';
				if (period) period.value = 'pro_date';
				if (catePrtcode) catePrtcode.value = '1차 카테고리';
				if (cateCode) cateCode.value = '2차 분류';

				// 텍스트 초기화
				if(keyword) keyword.value = '';
				if(startDate) startDate.value = '';
				if(endDate) endDate.value = '';

				// 라디오버튼 초기화
				if(proButRadio.length > 0) {
					proButRadio.forEach((radio, index) => {
						radio.checked = index === 0;
					});
				}
			}
			

	</script>
</th:block>

<th:block layout:fragment="content">

	<h3 class="text-center mt-5 mb-3">상품 목록</h3>
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">상품 목록</h3>
					</div>
					<!-- list start-->
					<div class="card-body">
						<form action="/admin/product/pro_list" method="get">
							<div class="row">
								<div class="col-2">검색어</div>
								<div class="col-3">
									<select name="searchType" class="form-control">
										<option value="" selected>검색종류 선택</option>
										<option value="n">상품명</option>
										<option value="c">상품번호</option>
										<option value="p">제조사</option>
										<option value="np">상품명 or 제조사</option>
									</select>
								</div>
								<div class="col-5">
									<input type="text" name="keyword" class="form-control" placeholder="검색어를 입력하세요.">
								</div>
							</div>

							<div class="row mt-3">
							<div class="col-2">날짜</div>
							<div class="col-2">
								<div class="form-group">
									<select class="form-control" name="period">
										<option value="pro_date" th:selected= "${'pro_date'} == ${pro_date}">등록일</option>
										<option value="pro_update" th:selected= "${'pro_update'} == ${pro_update}">수정일</option>
									</select>
								</div>
							</div>
							
							<div class="col-3">
								<input type="date" name="start_date" id="start_date" style="width: auto;" th:value="${start_date}">
								<input type="date" name="end_date" id="end_date" style="width: auto;" th:value="${end_date}">
							</div>
							<div class="col-5">
								<button type="button" class="btn btn-sm btn-outline-info" onclick="setDateRange('today')">오늘</button>
								<button type="button" class="btn btn-sm btn-outline-info" onclick="setDateRange('week')">일주일</button>
								<button type="button" class="btn btn-sm btn-outline-info" onclick="setDateRange('month')">1개월</button>
								<button type="button" class="btn btn-sm btn-outline-info" onclick="setDateRange('3months')">3개월</button>
								<button type="button" class="btn btn-sm btn-outline-info" onclick="setDateRange('all')">전체</button>
							</div>
						</div>
							
						<div class="row mt-3">
							<div class="col-2">카테고리</div>
							<div class="col-5">
								<div class="form-group">
									<select class="form-control" name="cate_prtcode" id="btn_firstCategory">
									<option>1차 카테고리</option>						  
									<option th:each= "category:${cate_list}" th:value="${category.cate_code}" th:text="${category.cate_name}"></option>							  
									</select>							
								</div>
							</div>
							<div class="col-5">
								<div class="form-group">
									<select class="form-control" name="cate_code" id="btn_secondCategory">
										<option>2차 카테고리</option>
										<option th:each= "subCategory:${sub_cate_list}" th:value="${subCategory.cate_code}" th:text="${subCategory.cate_name}"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-2">판매여부</div>
							<div class="col-10">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="pro_buy" id="pro_buy1" value="" th:checked= "${''} == ${pro_buy}">
									<label class="form-check-label" for="pro_buy1">전체</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="pro_buy" id="pro_buy2" value="Y" th:checked= "${'Y'} == ${pro_buy}">
									<label class="form-check-label" for="pro_buy2">판매</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="pro_buy" id="pro_buy3" value="N" th:checked= "${'N'} == ${pro_buy}">
									<label class="form-check-label" for="pro_buy3">미판매</label>
								</div>
							</div>
						</div>

							<div class="row mt-3">
								<div class="col text-center">
									<button type="submit" class="btn btn-primary">Serach</button>
									<button type="button" class="btn btn-primary" id="btn_sel_delete">선택삭제</button>
									<button type="button" class="btn btn-primary" id="btn_search_init">초기화</button>
								</div>
							</div>
						</div>
					</form>
					
					
					<form name="frm_pro_list" id="frm_pro_list" action="/admin/product/pro_sel_delete" method="post" class="col">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 5%">
										<input type="checkbox" id="checkAll">
									</th>
									<th style="width: 5%">No.</th>
									<th style="width: 30%">상품 정보</th>
									<th style="width: 10%">판매가</th>
									<th style="width: 10%">재고 수량</th>
									<th style="width: 20%">등록일</th>
									<th style="width: 10%">관리</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="productVo:${pro_list}">
									<td>
									<input type="checkbox" name="check" th:value="${productVo.pro_code}">
									<input type="hidden" name="pro_up_folder" th:value="${productVo.pro_up_folder}">
									<input type="hidden" name="pro_img" th:value="|s_${productVo.pro_img}|">
									</td>
									<td th:text="${productVo.pro_code}"></td>
									<td>[[${productVo.pro_name}]]<br> <img
										style="width: 100px; height: 100px;"
										th:src="${'/admin/product/image_display?dateFolderName=' + productVo.pro_up_folder + '&fileName=s_' + productVo.pro_img}">
									</td>
									<td
										th:text="|${#numbers.formatInteger(productVo.pro_price, 3, 'COMMA')}원|"></td>
									<td th:text="${productVo.pro_amount}"></td>
									<td
										th:text="${#dates.format(productVo.pro_date, 'yyyy-MM-dd')}"></td>
									<td>
										<button type="button" class="btn btn-block btn-outline-info" th:data-pro_code="${productVo.pro_code}" name="btn_pro_edit">EDIT</button>
										<button type="button" class="btn btn-block btn-outline-info" th:data-pro_code="${productVo.pro_code}" name="btn_pro_del">DELETE</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>


					<!-- 페이징 및 검색 파라미터 정보 -->
					<form id="criteriaForm" action="" method="get">
						<!--페이징, 검색 파라미터-->
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}">
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}">
						<input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}">
						<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">


						<!-- 이미지 파일 삭제를 위한 정보 -->
						<input type="hidden" name="pro_up_folder" id="pro_up_folder">
						<input type="hidden" name="pro_img" id="pro_img">

						
						<!--수정상품코드-->
						<input type="hidden" name="pro_code" id="pro_code">

						<!-- 날짜 검색 -->
						<input type="hidden" name="period" id="period" th:value="${period}">
						<input type="hidden" name="start_date" id="start_date" th:value="${start_date}">
						<input type="hidden" name="end_date" id="end_date" th:value="${end_date}">

						<!-- 카테고리 검색 -->
						<!-- <input type="hidden" name="cate_prtcode" id="cate_prtcode" th:value="${cate_prtcode}"> -->
						<input type="hidden" name="cate_code" id="cate_code" th:value="${cate_code}">

						<!-- 판매여부 검색 -->
						<input type="hidden" name="pro_buy" id="pro_buy" th:value="${pro_buy}">
					</form>
					</div>

					<div class="card-footer clearfix">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<!--이전표시 여부-->
								<th:block th:if="${pageMaker.prev}">
									<li class="page-item">
										<a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.startPage - 1) }|">Previous</a></li>
								</th:block>

								<!-- 페이지 번호 출력-->
								<th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item" th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
										<a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a>
									</li>
								</th:block>


								<!--다음표시여부-->
								<th:block th:if="${pageMaker.next}">
									<li class="page-item"><a class="page-link"
										th:href="|/list${pageMaker.makeSearch(pageMaker.endPage + 1) }|">Next</a></li>
								</th:block>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		// ckeditor 설정
		var ckeditor_config = {
			resize_enabled : false,
			enterMode : CKEDITOR.ENTER_BR,
			shiftEnterMode : CKEDITOR.ENTER_P,
			toolbarCanCollapse : true,
			removePlugins : "elementspath",
			//업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
			filebrowserUploadUrl : '/admin/product/imageupload'
		}

		// id="content" 인 textarea태그에 ckeditor_config 변수가 가지고 있는 설정정보를 적용하겠다.는 의미
		CKEDITOR.replace("pro_content", ckeditor_config);
	</script>
</th:block>

<th:block layout:fragment="script2">

	<script>
		$(document).ready(function() {

			// 1차 카테고리 클릭 이벤트 설정 id="btn_firstCategory"
			$("#btn_firstCategory").on("change",function() {

				let firstCategoryCode = $("#btn_firstCategory").val();

				// 2차 카테고리 목록 가져오는 매핑주소
				let url = "/admin/category/secondcategory/"+ firstCategoryCode;
				$.getJSON(url, function(secondCategoryList) {

				//console.log("2차카테고리정보",secondCategoryList);
				// 2차 카테고리 select 태그 참조
				let secondCategoryCode = $("#btn_secondCategory");

				let optionStr = "";

				for (let i = 0; i < secondCategoryList.length; i++) {optionStr += "<option value='" + secondCategoryList[i].cate_code + "'>"+ secondCategoryList[i].cate_name+ "</option>";
				}
					secondCategoryCode.find("option").remove();
					secondCategoryCode.append("<option>2차 분류</option");
					secondCategoryCode.append(optionStr);

					});
				});

			// 상품이미지 미리보기 pro_img_upload e 매개변수 : 선택한 파일정보
			$("#pro_img_upload").on("change",function(e) {
				let file = e.target.files(0); // 파일첨부에서 선택한 한개의 파일을 가리키는 의미

				let reader = new FileReader();
				reader.readAsDataURL(file);

				reader.onload = function(e) {
					$("#img_preview").attr("src",e.target.result);
				}

			});

			// 제목행 checkbox 클릭 checkAll
			let isCheck = true;
			$("#checkAll").on("click", function() {
				// console.log("제목행 체크박스");
				// name은 복수가능, id는 복수 불가능 > 복수 가능하도록 name="check"로 설정함
				// this.checked : 제목행의 체크박스 상태
				// 데이터행의 모든 체크박스를 제목행의 체크상태로 적용
				$("input[name='check']").prop("checked", this.checked);
				isCheck = this.checked;
			});

			// 데이터행 checkbox 클릭
			$("input[name='check']").on("click", function() {

				$("#checkAll").prop("checked", this.checked);

				// 데이터행 checkbox가 모두 선택되어 있는 경우 제목행 체크박스 선택
				// 하나라도 선택되어 있지 않는 경우 제목행 체크박스 선택해제
				$("input[name='check']").each(function() {
					if(!$(this).is(":checked")) { // 데이터 행 체크가 안되어 있는 경우 제목행 체크상태 해제
						$("#checkAll").prop("checked", false);
					}
				});
			});

			$("#btn_sel_delete").on("click", function() {

				if(!confirm("선택하신 상품을 삭제하겠습니까?")) return;

				if($("input[name='check']:checked").length == 0) {
					alert("삭제할 상품을 선택하세요.");
					return;
				}
				$("#frm_pro_list").submit();
			});

			// id=criteriaForm
			let criteriaForm = $("#criteriaForm");

			// edit  name="btn_pro_edit"
			$("button[name='btn_pro_edit']").on("click", function() {
			// console.log("수정버튼클릭");
				let pro_code = $(this).data("pro_code");

				$("#pro_code").val(pro_code);

				criteriaForm.attr("action", "/admin/product/pro_edit");
				criteriaForm.submit();
			});

			// 삭제 btn_pro_del
			$("button[name='btn_pro_del']").on("click", function() {

				if(!confirm("삭제하시겠습니까?")) return;

				let pro_code = $(this).data("pro_code");

				$("#pro_code").val(pro_code);

				criteriaForm.attr("action", "/admin/product/pro_delete");
				criteriaForm.submit();
			});

		}); // ready event end

		document.getElementById('btn_search_init').addEventListener('click', () => {
			initializeSearchForm();
		})
	</script>
</th:block>
</html>