<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<style>
  .carousel-inner img {
    height: 300px; /* 원하는 높이 값 */
    object-fit: cover; /* 비율 유지하면서 잘림 방지 */
  }
</style>

<th:block layout:fragment="content">
	<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<a href="/notice/notice_read?ntc_bno=2"><img src="/image/main_01.jpg" class="d-block w-100" alt="main_img_01"></a>
			</div>
			<div class="carousel-item">
				<a href="/product/pro_info?pro_code=2"><img src="/image/main_02.jpg" class="d-block w-100" alt="main_img_02"></a>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	
 
  
	   <hr class="featurette-divider">
  
</th:block>
</html>