<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[SOBOOK] 주문 내역을 확인해주세요.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col text-center mb-3 mt-3">
          <h3 class="text-center">주문내역이 완료되었습니다.</h3> 
        </div>
      </div>
      <div class="row">        
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 10%;">주문번호</th>
                <th scope="col" style="width: 25%;">상품이미지</th>
                <th scope="col" style="width: 20%;">상품이름</th>
                <th scope="col" style="width: 15%;">가격</th>
                <th scope="col" style="width: 5%;">수량</th>
                <th scope="col" style="width: 15%;">합계</th>
                <th scope="col" style="width: 15%;">주문상태</th>
                <th scope="col" style="width: 20%;">배송상태</th>
              </tr>
            </thead>
            <hr>
            <tbody>
              <tr th:each= "item : ${order_info}">
                <td th:text="${item.ord_code}"></td>
                <td>
                  <img style="width: 100px;height: 100px;" th:src="${'http://localhost:8888/order/image_display?dateFolderName=' + item.pro_up_folder + '&fileName=s_' + item.pro_img}">
                </td>
                <td th:text="${item['pro_name']}"></td>
                <td th:text="${#numbers.formatInteger(item['dt_price'], 3, 'COMMA') + '원'}"></td>
                <td th:text="${item['dt_amount']}"></td>
                <td th:text="${#numbers.formatInteger(item['dt_price'] * item['dt_amount'], 3, 'COMMA') + '원'}"></td>
                <td th:text="${item.payment_status}"></td>
                <td>준비중</td>
              </tr>
            </tbody>
            <hr>
            <tfoot>
              <tr>
                <td style="text-align: center;" colspan="8" th:text="'총금액 ' + ${#numbers.formatInteger(order_total_price, 3, 'COMMA') + '원'}"></td>
              </tr>
            </tfoot>
          </table>




    <!-- <div class="card card-row card-default">
      <div class="card-header bg-info">
        <h2 class="card-title">
          주문내역
        </h2>
      </div>

      <div class="card-body">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">주문정보</h3> <hr>
          </div>
          <table class="table">
            <thead>
              <tr th:each= "item : ${order_info}">
                <th scope="col">주문번호 : </th>
                <td th:text="${item.ord_code}"></td>
              </tr>
              <tr th:each= "item : ${order_info}">
                <th scope="col">주문일 : </th>
                <td th:text="${item.ord_code}"></td>
              </tr>
            </thead>
          </table>
        </div> -->

      

        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="card-title">안내사항</h5>
          </div>
          <div class="card-body">
            <p>- 자세한 구매내역은 마이페이지>구매내역에서 확인하실 수 있습니다.</p>
            <p>- 궁금하신 점은 1:1문의 게시판을 이용해 주시기 바랍니다.</p>
          </div>
        </div>

      </div>
    </div>
</body>


</html>

