<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">

	<th:block layout:fragment="css">
		<style>

			.div {
				background-color: white;
			}
			
			.card-header.custom-card-header {
				/* background-color:  rgb(244, 216, 236) !important; */
				background-color: black !important;
				color: white !important;
			}


		</style>
	</th:block>

	<th:block layout:fragment="script">
		<script>
			// 날짜 설정 함수
			function setDateRange(range) {
				const today = new Date();  // 날짜객체.
				const startInput = document.getElementById('start_date'); // 시작날짜 태그를 참조
				const endInput = document.getElementById('end_date'); // 종료날짜 태그를 참조
				
				let startDate, endDate;
	
				switch (range) {
					case 'today':
						startDate = new Date(today);
						endDate = new Date(today);
						break;
					case 'week':
						startDate = new Date(today);
						startDate.setDate(today.getDate() - 6);
						endDate = new Date(today);
						break;
					case 'month':
						startDate = new Date(today);
						startDate.setMonth(today.getMonth() - 1);
						endDate = new Date(today);
						break;
					case '3months':
						startDate = new Date(today);
						startDate.setMonth(today.getMonth() - 3);
						endDate = new Date(today);
						break;
					case 'all':
						startDate = '';
						endDate = '';
						break;
					default:
						return;
				}
	
				// 포맷팅하여 input에 값 설정
				startInput.value = startDate ? formatDate(startDate) : '';
				endInput.value = endDate ? formatDate(endDate) : '';
			}
	
			// 날짜를 yyyy-MM-dd 형식으로 포맷
			function formatDate(date) {
				const year = date.getFullYear();
				const month = String(date.getMonth() + 1).padStart(2, '0');
				const day = String(date.getDate()).padStart(2, '0');
				return `${year}-${month}-${day}`;
			}

			function initializeSearchForm() {
				// 폼 요소 가져오기
				const searchType = document.querySelector('select[name="searchType"]');
				const keyword = document.querySelector('input[name="keyword"]');
				const period = document.querySelector('select[name="period"]');
				const startDate = document.getElementById('start_date');
				const endDate = document.getElementById('end_date');
				const paymentMethodRadios = document.querySelectorAll('input[name="payment_method"]');
				const paymentStatusRadios = document.querySelectorAll('input[name="payment_status"]');
				const ordStatusRadios = document.querySelectorAll('input[name="delivery_status"]');

				// 드롭다운 초기화
				if (searchType) searchType.value = ''; // 기본값으로 빈 문자열 설정하여 초기화
				if (period) period.value = 'ord_regdate'; // 기본값으로 주문일 선택하여 초기화

				// 텍스트 입력 초기화
				if(keyword) keyword.value = ''; // 검색 텍스트 입력 초기화
				if(startDate) startDate.value = ''; // 날짜 입력 초기화
				if(endDate) endDate.value = ''; // 날짜 입력 초기화

				// 라디오 버튼 초기화
				if(paymentMethodRadios.length > 0) {
					paymentMethodRadios.forEach((radio, index) => {
						radio.checked = index === 0; // 첫번째 버튼만 선택되도록 설정하고 나머지 버튼은 선택 해제
					});
				}

				if(paymentStatusRadios.length > 0) {
					paymentStatusRadios.forEach((radio, index) => {
						radio.checked = index === 0;
					});
				}

				if(ordStatusRadios.length > 0) {
					ordStatusRadios.forEach((radio, index) => {
						radio.checked = index === 0;
					});
				}
			}
		</script>
	</th:block>

<th:block layout:fragment="content">
<h3 class="text-center mt-5 mb-3">주문 목록</h3>
<div class="container mt-5">
	<div class="row">
		<div class="col">
			<div class="card card-primary">
				<div class="card-header custom-card-header" >
					<h3 class="card-title">주문 목록</h3>
				</div>
				<!-- list start-->
				<div class="card-body">
					<form action="/admin/order/order_list" method="get">
						<div class="row">
							<div class="col-2">검색어</div>
							<div class="col-3">
								<select name="searchType" class="form-control">
									<option value="" th:selected= "${''} == ${pageMaker.cri.searchType}">검색종류 선택</option>
									<option value="c" th:selected= "${'c'} == ${pageMaker.cri.searchType}">주문번호</option>
									<option value="m" th:selected= "${'m'} == ${pageMaker.cri.searchType}">회원아이디</option>
									<option value="n" th:selected= "${'n'} == ${pageMaker.cri.searchType}">주문자</option>
								</select>
							</div>
							<div class="col-7">
								<input type="text" name="keyword" class="form-control" th:value="${pageMaker.cri.keyword}"  placeholder="검색어를 입력하세요.">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-2">날짜</div>
							<div class="col-2">
								<div class="form-group">
									<select class="form-control" name="period">
										<option value="ord_regdate" th:selected= "${'ord_regdate'} == ${ord_regdate}">주문일</option>
										<option value="payment_date" th:selected= "${'payment_date'} == ${payment_date}">결제일</option>
									</select>
								</div>
							</div>
						
						<div class="col-3">
							<input type="date" name="start_date" id="start_date" style="width: auto;" th:value="${start_date}">
							<input type="date" name="end_date" id="end_date" style="width: auto;" th:value="${end_date}">
						</div>
						<div class="col-5">
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="setDateRange('today')">오늘</button>
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="setDateRange('week')">일주일</button>
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="setDateRange('month')">1개월</button>
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="setDateRange('3months')">3개월</button>
							<button type="button" class="btn btn-sm btn-outline-dark" onclick="setDateRange('all')">전체</button>
						</div>
					</div>

					<div class="row mt-1">
						<div class="col-2">결제방식</div>
						<div class="col-10">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_method" id="payment_method1" value="" th:checked= "${''} == ${payment_method}">
								<label class="form-check-label" for="payment_method1">전체</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_method" id="payment_method2" value="무통장" th:checked= "${'무통장'} == ${payment_method}">
								<label class="form-check-label" for="payment_method2">무통장</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_method" id="payment_method3" value="카카오페이" th:checked= "${'카카오페이'} == ${payment_method}">
								<label class="form-check-label" for="payment_method3">카카오페이</label>
							</div>
						</div>
					</div>

					<div class="row mt-1">
						<div class="col-2">결제상태</div>
						<div class="col-10">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_status" id="payment_status1" value="" th:checked= "${''} == ${payment_status}">
								<label class="form-check-label" for="payment_status1">전체</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_status" id="payment_status2" value="입금대기" th:checked= "${'입금대기'} == ${payment_status}">
								<label class="form-check-label" for="payment_status2">입금대기</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment_status" id="payment_status3" value="입금완료" th:checked= "${'입금완료'} == ${payment_status}">
								<label class="form-check-label" for="payment_status3">입금완료</label>
							</div>
						</div>
					</div>

					<div class="row mt-1">
						<div class="col-2">배송상태</div>
						<div class="col-10">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status1" value="" th:checked= "${''} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status1">전체</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status2" value="배송준비" th:checked= "${'배송준비'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status2">배송준비</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status3" value="배송중" th:checked= "${'배송중'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status3">배송중</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status4" value="배송완료" th:checked= "${'배송완료'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status4">배송완료</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status5" value="취소" th:checked= "${'취소'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status5">취소</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status6" value="환불" th:checked= "${'환불'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status6">환불</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status7" value="반품" th:checked= "${'반품'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status7">반품</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delivery_status" id="delivery_status8" value="교환" th:checked= "${'교환'} == ${delivery_status}">
								<label class="form-check-label" for="delivery_status8">교환</label>
							</div>
						</div>
					</div>

						<div class="row mt-3">
							<div class="col text-center">
								<button type="submit" class="btn btn-secondary">검색</button>
								<button type="button" class="btn btn-secondary" id="btn_search_init">초기화</button>
							</div>
						</div>
				</div>
			</form>	
			
			<div class="row mt-4">
				<div class="col">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 10%;">주문번호</th>
									<th style="width: 10%;">주문일</th>
									<th style="width: 10%;">주문자</th>
									<th style="width: 10%;">주문 금액</th>
									<th style="width: 15%;">결제방법</th>
									<th style="width: 10%;">결제상태</th>
									<th style="width: 10%;">배송상태</th>
									<th style="width: 10%;">관리</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each= "order_info:${order_list}">
									<td>
										<a th:href="@{/admin/order/orderdetail_info(ord_code=${order_info.ord_code})}">[[${order_info.ord_code}]]</a>
									</td>
									<td th:text="${#temporals.format(order_info.ord_regdate, 'yyyy-MM-dd')}"></td>
									<td th:text="${order_info.ord_name}"></td>
									<td th:text="|${#numbers.formatInteger(order_info.ord_price, 3, 'COMMA')}원|"></td>
									<td th:text="${order_info.payment_method}"></td>
									<td>
										<select name="payment_status">
											<option th:selected= "${order_info.payment_status == '입금대기'}" value="입금대기">입금대기</option>
											<option th:selected= "${order_info.payment_status == '입금완료'}" value="입금완료">입금완료</option>
										</select>
										<button type="button" class="mt-2" name="btn_payment_status_change" th:data-payment_id="${order_info.payment_id}">변경</button>
									</td>
									
									<td>
										<select name="delivery_status">
											<option th:selected= "${order_info.delivery_status == '배송준비'}" value="배송준비">배송준비</option>
											<option th:selected= "${order_info.delivery_status == '배송중'}" value="배송중">배송중</option>
											<option th:selected= "${order_info.delivery_status == '배송완료'}" value="배송완료">배송완료</option>
											<option th:selected= "${order_info.delivery_status == '취소'}" value="취소">취소</option>
											<option th:selected= "${order_info.delivery_status == '환불'}" value="환불">환불</option>
											<option th:selected= "${order_info.delivery_status == '반품'}" value="반품">반품</option>
											<option th:selected= "${order_info.delivery_status == '교환'}" value="교환">교환</option>
										</select>
										<button type="button" class="mt-2" name="btn_delivery_status_change" th:data-ord_code="${order_info.ord_code}">변경</button>
									</td>
									
									<td>
										<button type="button" class="btn btn-block btn-outline-info" name="btn_ord_detail" th:data-ord_code="${order_info.ord_code}">상세정보</button>
									</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>

					<!-- 페이징 및 검색 파라미터 정보 -->
					<form id="criteriaForm" action="/admin/order/order_list" method="get">
						<!--페이징, 검색 파라미터-->
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}">
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}">
						<input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}">
						<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">


						<!-- 날짜 검색 -->
						<input type="hidden" name="period" id="period" th:value="${period}">
						<input type="hidden" name="start_date" id="start_date" th:value="${start_date}">
						<input type="hidden" name="end_date" id="end_date" th:value="${end_date}">

						<!-- 결제 방법 -->
						<input type="hidden" name="payment_method" id="payment_method" th:value="${payment_method}">

						<!-- 결제 상태 -->
						<input type="hidden" name="payment_status" id="payment_status" th:value="${payment_status}">

						<!-- 배송 상태 -->
						<input type="hidden" name="delivery_status" id="delivery_status" th:value="${delivery_status}">
					</form>
					</div>


					<div class="card-footer clearfix">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<!--이전표시 여부-->
								<th:block th:if="${pageMaker.prev}">
									<li class="page-item">
										<a class="page-link movePage" th:href="${pageMaker.startPage - 1}">Previous</a></li>
								</th:block>

								<!-- 페이지 번호 출력-->
								<th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<li class="page-item" th:classappend="${pageMaker.cri.page == num? 'active' : ''}">
										<a class="page-link movePage" th:href="${num}" th:text="${num}"></a>
									</li>
								</th:block>


								<!--다음표시여부-->
								<th:block th:if="${pageMaker.next}">
									<li class="page-item">
										<a class="page-link movePage" th:href="${pageMaker.endPage +1}">Next</a></li>
								</th:block>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

</th:block>

<th:block layout:fragment="script2">

	<script>
		$(document).ready(function() {

			let criteriaForm = $("#criteriaForm");

			// 페이지 번호 
			$("a.movePage").on("click", function(e) {
				e.preventDefault();

				criteriaForm.find("input[name='page']").val($(this).attr("href"));
				criteriaForm.submit();

			});

			// 상세정보
			$("button[name='btn_ord_detail']").on("click", function() {
				let ord_code = $(this).data("ord_code");
				location.href = `/admin/order/orderdetail_info?ord_code=${ord_code}`;
			});

			// 결제 상태 변경
			$("button[name='btn_payment_status_change']").on("click", function() {

				let payment_id = $(this).data("payment_id");
				let payment_status = $(this).prev("select[name='payment_status']").val();

				$.ajax({
					url : '/admin/order/payment_status',
					data : {payment_id : payment_id, payment_status : payment_status},
					type : "post",
					dataType : 'text',
					success : function(result) {
						if (result == "success") {
							alert("결제상태 변경완료");
						}
					}
				});
			});


			// 배송상태 변경
			$("button[name='btn_delivery_status_change']").on("click", function() {
				let ord_code = $(this).data("ord_code");
				let delivery_status = $(this).prev("select[name='delivery_status']").val();

				$.ajax({
					url : '/admin/order/delivery_status',
					data : {ord_code : ord_code, delivery_status : delivery_status},
					type : "post",
					dataType : 'text',
					success : function(result) {
						if (result == "success") {
							alert("배송상태 변경 완료");
						}
					}
				});
			});
			


		}); // ready event end

		document.getElementById('btn_search_init').addEventListener('click', () => {
			initializeSearchForm();
		});
	</script>
</th:block>
</html>